<mat-toolbar color="primary" class="header-toolbar">
  <div class="header-container">
    <!-- Ícone de perfil à esquerda (opcional) -->
    <div class="header-left">
      <img
        class="user-avatar"
        src="https://avatars.githubusercontent.com/u/26532535?s=96&v=4"
        alt="Usuário"
      />
    </div>

    <div class="header-right">
      <button mat-icon-button aria-label="Home">
        <mat-icon class="header-icon" svgIcon="homeSvg">homeIcon</mat-icon>
      </button>
      <button mat-icon-button aria-label="Visualizações">
        <mat-icon class="header-icon">visibilityIcon</mat-icon>
      </button>
      <button mat-icon-button aria-label="Atualizar">
        <mat-icon class="header-icon" svgIcon="repeat-alt">autorenew</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
