@import (reference) "../../../styles/variables.less";

mat-toolbar {
  background-color: @card-background;
  color: @text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-weight: bold;
    color: @primary-color;
    font-size: @font-size-base;
  }

  button {
    color: @text-color;
  }
}
