<div class="login-container">
  <div class="login-card">
    <div class="logo">
      <img src="assets/logo-navega.svg" alt="Navega Logo" />
    </div>
    <h1>Boas-vindas ao Portal!</h1>
    <p>Para começar, qual seu email ou CPF?</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email ou CPF</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="Digite seu email ou CPF"
        />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Campo obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Senha</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Digite sua senha"
        />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Campo obrigatório
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" class="full-width" type="submit">
        ACESSAR
      </button>
    </form>

    <a class="forgot-password" href="#">Esqueceu a senha? Acesse aqui</a>
    <span class="version">Versão 0.0.1</span>
  </div>
</div>
