<div class="login-container">
  <!-- Coluna esquerda: formulário de login -->
  <div class="login-form-container">
    <div>
      <img class="login-logo" src="assets/Logo.svg" alt="Logo Navega" />
    </div>
    <div class="content-form-login">
      <p class="tittle-login">Boas-vindas ao Portal!</p>
      <p class="tittle-login">Para começar, qual seu email ou CPF?</p>
      <p class="sub-tittle-login">
        Precisamos desta confirmação para dar início ao seu acesso.
      </p>

      <form [formGroup]="loginForm">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email ou CPF*</mat-label>
          <input class="input-login" matInput formControlName="email" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Senha*</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="'Mostrar/ocultar senha'"
            [attr.aria-pressed]="!hidePassword"
            type="button"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <div class="text-request">
      <button
        mat-flat-button
        color="primary"
        class="login-button"
        (click)="onSubmit()"
      >
        Acessar
      </button>
      <p href="#" class="forgot-password">
        Esqueceu a senha? <span class="link-span">Acesse aqui</span>
      </p>
      <p class="version">Versão 0.0.1</p>
    </div>
  </div>

  <div class="login-image-container">
    <img src="assets/Image.svg" alt="Dashboard" />
  </div>
</div>
