<!-- Topo da sidebar -->
<div class="sidebar-header">
  <mat-icon class="sidebar-header-icon" svgIcon="address-card"></mat-icon>
  <div class="sidebar-title">
    <h3>Meu plano</h3>
    <p>O que você quer fazer?</p>
  </div>
</div>

<!-- Lista de navegação -->
<nav class="sidebar-nav">
  <a class="nav-item" routerLink="/dashboard">
    <div class="nav-item-content">
      <mat-icon class="sidebar-nav-icon" svgIcon="file-invoice-dollar"
        >receipt</mat-icon
      >
      Ver Extrato
    </div>
    <mat-icon class="chevron">chevron_right</mat-icon>
  </a>
  <a class="nav-item" routerLinkActive="active">
    <div class="nav-item-content">
      <mat-icon svgIcon="envelope-open-dollar">attach_money</mat-icon>
      Contribuição Mensal
    </div>
    <mat-icon class="chevron">chevron_right</mat-icon>
  </a>
  <a class="nav-item" routerLinkActive="active">
    <div class="nav-item-content">
      <mat-icon svgIcon="sack-dollar">savings</mat-icon>
      Contribuição Extra
    </div>
    <mat-icon class="chevron">chevron_right</mat-icon>
  </a>
  <a class="nav-item" routerLinkActive="active">
    <div class="nav-item-content">
      <mat-icon svgIcon="file-alt">description</mat-icon>
      Documentos
    </div>
    <mat-icon class="chevron">chevron_right</mat-icon>
  </a>
  <a class="nav-item" routerLinkActive="active">
    <div class="nav-item-content">
      <mat-icon svgIcon="user-chart">account_balance</mat-icon>
      Regime de Tributação
    </div>
    <mat-icon class="chevron">chevron_right</mat-icon>
  </a>
  <a class="nav-item" routerLinkActive="active">
    <div class="nav-item-content">
      <mat-icon svgIcon="comment-dollar">assignment</mat-icon>
      Solicitar Benefício
    </div>
    <mat-icon class="chevron">chevron_right</mat-icon>
  </a>
  <a class="nav-item" routerLinkActive="active">
    <div class="nav-item-content">
      <mat-icon svgIcon="file-chart-line">history</mat-icon>
      Extrato Regressivo
    </div>
    <mat-icon class="chevron">chevron_right</mat-icon>
  </a>
  <a class="nav-item" routerLinkActive="active">
    <div class="nav-item-content">
      <mat-icon svgIcon="info">info</mat-icon>
      Informações
    </div>
    <mat-icon class="chevron">chevron_right</mat-icon>
  </a>
</nav>
