@import (reference) "../../../styles/variables.less";

:host {
  display: flex;
  flex-direction: column;
  font-family: @font-family;
  background-color: #ffffff;
  height: 100%;

  h3 {
    font-size: @font-size-base;
    margin-bottom: 1rem;
    color: @text-color;
    padding: 1rem;
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: left;
    color: @text-color;
    font-size: @font-size-small;
    width: 100%;
    padding: 1rem;
    border-radius: @border-radius;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      color: @primary-color;
    }
  }
}
